* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.app {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYSZPW5X8naV9yK9La43uCDkxFypKHQR9fVW6APN6c6S__MHYzVVMFEortj24VFESvlvY&usqp=CAU);
  min-height: 98.5vh;
  border: 8px solid #39445a93;
  margin: 5px;
  padding: 5px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  text-transform: uppercase;
  font-size: 8vw;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
}
hr {
  margin: 10px;
  width: 100%;
}
.home {
  display: flex;
  justify-content: space-around;
}
.banner {
  width: 35vw;
  align-self: center;
  padding: 8px;
}
.settings {
  width: 40vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.settingsSelect {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
.quiz {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle {
  font-size: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px 2px black;
  padding: 5px 10px;
}
.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px;
}
.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleQuestion {
  width: 95%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid black;
  padding: 20px;
  margin-top: 10px;
}
.optionss {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.singleOption {
  width: 46%;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  box-shadow: 0 0 2px black;
}
.select {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
}

.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
}
.control {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}